* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f9fbfb;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
}

.logo {
    color: #522df9;
    font-size: 20px;
    font-weight: bold;
}

nav {
    margin-left: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #333;
    padding-bottom: 5px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 3px;
    background: #5b5be6;
    transition: 0.3s ease;
}

nav ul li a.active {
    border-bottom: 3px solid #5b5be6;
}

nav ul li a:hover {
    color: #5b5be6;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a.active::after {
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hero-text h1 {
    font-size: 35px;
    color: #5b5be6;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    background: #5b5be6;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 1rem;
}

.btn:hover {
    background: #4444d4;
    transform: scale(1.05);
}

.hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 8px solid #5b5be6;
    object-fit: cover;
}

.about {
    text-align: center;
    padding: 70px;
}

.about h2 {
    color: #5b5be6;
    font-size: 28px;
}

.about p {
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    line-height: 1.6;
    color: #393939;
}

.line {
    width: 60px;
    height: 4px;
    background: #5b5be6;
    margin: 12px auto 30px auto;
    border-radius: 5px;
}

.skills {
    padding: 70px;
    text-align: center;
}

.skills h2 {
    color: #5b5be6;
    font-size: 28px;
    border-radius: 15px;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    margin-top: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    background: #5b5be6;
    color: white;
    padding: 10px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

footer {
    background: #5b5be6;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 60px;
}

.icons {
    margin-top: 10px;
}

.icons i {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.icons i:hover {
    transform: scale(1.2)
}